body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #1877f2;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced0d4;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    background-color: #1877f2;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #165ecc;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f0f2f5;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 16px;
  }
  